<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta"); %>
    <%- include("../partials/css"); %>
    <title>Export - Guccicoin Web Wallet</title>
  </head>
  <body>
    <%- include("../partials/nav"); %>

    <%- include("../partials/alerts"); %>

    <section class="section">
      <div class="container">
        <h1 class="title">Export Wallet</h1>
        <p class="content">
          Make sure to keep these keys safe. Remember: anyone with these keys can access your wallet.
        </p>
        <p class="content">
          It is recommended that you write these keys on paper rather than on a computer.
        </p>
        <h2 class="title is-4">View Key</h2>
        <pre class="content"><code><%= viewKey.viewSecretKey %></code></pre>
        <h2 class="title is-4">Spend Key</h2>
        <pre class="content"><code><%= spendKeys.spendSecretKey %></code></pre>
      </div>
    </section>

    <%- include("../partials/js"); %>
  </body>
</html>