<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/meta"); %>
    <%- include("partials/css"); %>
    <title>Guccicoin Web Wallet</title>
  </head>
  <body>
    <%- include("partials/nav"); %>

    <%- include("partials/alerts"); %>

    <section class="section">
      <div class="container">
        <h1 class="title">Welcome to the Guccicoin Web Wallet!</h1>
        <p class="content">
          This web wallet is a convenient place to put your guccicoin if you use them a lot. Using this wallet you can access
          your coins from anywhere and from any browser. However, this wallet is not as secure as running your own local wallet
          on your computer or using a paper wallet, so we only recommend that you put a small amount of your coins in this wallet
          if you wish to use it.
        </p>
      </div>
    </section>

    <%- include("partials/js"); %>
  </body>
</html>